<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.flutter_thermal_printer">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <application>
        <service
            android:name=".FirebaseNotificationListener"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>
